.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.phpunit.cache
.vscode
.idea
.fleet
.DS_Store
Thumbs.db
